### PANEL ###
APP_PORT=3000
METRICS_PORT=3001
API_INSTANCES=1

### CADDY ###
PANEL_DOMAIN=panel.example.com
ACME_EMAIL=admin@example.com

### DATABASE ###
DATABASE_URL="postgresql://postgres:change_me@remnawave-db:5432/postgres"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=postgres

### REDIS ###
REDIS_SOCKET=/var/run/valkey/valkey.sock

### SECRETS ###
APP_SECRET=change_me
METRICS_USER=admin
METRICS_PASS=change_me

### PUBLIC URLS ###
FRONT_END_DOMAIN=panel.example.com
SUB_PUBLIC_DOMAIN=panel.example.com/api/sub

### SHORT UUID ###
SHORT_UUID_METHOD=nanoid
SHORT_UUID_LENGTH=16

### OPTIONAL NOTIFICATIONS ###
IS_TELEGRAM_NOTIFICATIONS_ENABLED=false
WEBHOOK_ENABLED=false
BANDWIDTH_USAGE_NOTIFICATIONS_ENABLED=false
NOT_CONNECTED_USERS_NOTIFICATIONS_ENABLED=false
EXPIRATION_NOTIFICATIONS_ENABLED=false
EXPORT_TO_STREAM_ENABLED=false
